html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  background-color: #f5f5f5;
  font-family: Graphik, Helvetica Neue, sans-serif;
  height: 100vh;
  width: 100vw;
  font-family: Graphik, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -11;
}

main {
  display: flex;
  flex-direction: column;
}
canvas {
  z-index: 20;
  order: 0;
  max-width: 700px;
  max-height: 700px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 4px 9px 1px;
}

#createBtn {
  z-index: 20;
  border: none;
  height: 2.2rem;
  width: 6rem;
  color: #000000;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  transition: background-color 0.2s cubic-bezier(0.12, 0.52, 0.58, 1);
  font-weight: 600;
  background-color: transparent;
  letter-spacing: 2px;
  border-bottom: 1px solid #000000; /* Or whatever color you want */
}

#UI.sample {
  order: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

#modal {
  z-index: 100;
  position: absolute;
  width: 65vw;
  background-color: #ffffff;
  padding: 1.5rem;
  font-family: "Helvetica";
  letter-spacing: 1.3px;
  border: 1px solid black;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modalBtn {
  color: black;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  opacity: 0.8;
  margin: 4px;
  padding: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid currentColor; /* Or whatever color you want */
  transition: transform 0.2s ease;
}
#back {
  z-index: 100;
}
a {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline; /* Or whatever color you want */
  transition: transform 0.2s ease;
}
a#generate {
  color: #efece9;
}
a:hover,
#createBtn:hover {
  transform: scale(1.05);
}
#input {
  position: absolute;
  left: 0;
  align-self: center;
}
#input input {
  border-radius: 0px;
  border: 1px solid rgb(46, 46, 46);
  margin-left: 4px;
}

#input input:focus {
  outline: none !important;

  border-radius: 0px;
  border: 2px solid #0c0c0c;
}

@media only screen and (max-width: 900px) {
  canvas {
    max-width: 600px;
    max-height: 600px;
  }

  label {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 740px) {
  canvas {
    max-width: 550px;
    max-height: 550px;
  }
}
@media only screen and (max-width: 640px) {
  canvas {
    max-width: 450px;
    max-height: 450px;
  }
}
@media only screen and (max-width: 540px) {
  canvas {
    max-width: 400px;
    max-height: 400px;
  }
  a {
    font-size: 1rem;
  }
  #createBtn {
    width: 5rem;
  }
}
@media only screen and (max-width: 460px), screen and (max-height: 520px) {
  canvas {
    max-width: 360px;
    max-height: 360px;
  }
}

@media only screen and (max-width: 430px), screen and (max-height: 470px) {
  canvas {
    max-width: 330px;
    max-height: 330px;
  }
}
@media only screen and (max-width: 380px), screen and (max-height: 400px) {
  canvas {
    max-width: 300px;
    max-height: 300px;
  }
}
